$--colors-red-600: 220, 38, 38;
$--colors-neutral-300: 209, 213, 219;
$--colors-neutral-400: 156, 163, 175;
$--colors-neutral-500: 107, 114, 128;
$--colors-neutral-800: 31, 41, 55;
$--colors-neutral-900: 17, 24, 39;
$--colors-indigo-50: 240, 245, 255;
$--colors-indigo-600: 88, 80, 236;
$--colors-indigo-700: 81, 69, 205;
$--colors-indigo-800: 66, 56, 157;
$--colors-indigo-900: 54, 47, 120;

$layout-breakpoint-small: 1000px;
$layout-breakpoint-medium: 1390px;

$white-color-ref: #ffffff;

$sidebar-width: 18rem;
$menubar-height: 63.3px;
$sidebar-background-color: #5145cd;

$primary-color: #423898;
$primary-color-fade: #b4c6fc;

$secondary-color: #f9fafb;
